.body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
.firstline {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
.firstline li {
    width: 100%;
    font-size: 1.8rem;
    color: #18171e;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 0 0 0 0.4rem;
    height: auto;
    text-align: left;
    background-color: white;
    position: relative;
    z-index: 1;

}